{%include 'layout.html'%}
<label>List of {{user.username}}'s todos</label>
<table class="table-todo">
    <thead>
        <tr>
            <th>sl</th>
            <th>title</th>
            <th>description</th>
            <th>edit</th>
        </tr>
    </thead>
    <tbody>
        {% for todo in todos%}
        {% if todo.complete==False%}
            <tr class="Normal-todos">
                <td>{{loop.index}}</td>
                <td>{{todo.title}}</td>
                <td>{{todo.description}}</td>
                <td><button onclick="window.location.href='/todos/edit-todo/{{todo.id}}'">Edit</button></td>
            </tr>
        {%else%}
            <tr class="Crossed-out-todos">
                <td>{{loop.index}}</td>
                <td>{{todo.title}}</td>
                <td>{{todo.description}}</td>
                <td><button onclick="window.location.href='/todos/edit-todo/{{todo.id}}'">Edit</button></td>
            </tr>
        {%endif%}
        {%endfor%}
    </tbody>
    <a href="add-todo-page">Add a todo</a>
</table>
